body {
  font-family: Arial, sans-serif;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Align items at the top */
  box-sizing: border-box;
  min-height: 100vh;
}

.form-container {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  width: 700px;
  margin-top: 10vh;

}

.form-container h2 {
  text-align: center;
  font-size: 1.8em;
  color: #333;
  margin-bottom: 20px;
}

.form-container input, 
.form-container textarea {
  width: 100%;
  padding: 12px 15px;
  margin: 12px 0;
  border: 2px solid #ddd;
  border-radius: 5px;
  font-size: 1em;
  color: #333;
  box-sizing: border-box;
  transition: all 0.2s ease;
}

.form-container input:focus, 
.form-container textarea:focus {
  border-color: #28a745;
  outline: none;
  box-shadow: 0 0 5px rgba(40, 167, 69, 0.5);
}

.form-container textarea {
  resize: vertical; /* Allows vertical resizing */
  height: 100px;
}

.form-container button {
  width: 50%; /* Make the button narrower */
  padding: 12px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.1em;
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
  margin: 20px auto 0 auto; /* Center the button */
  display: block; /* Ensures button is centered */
}

.form-container button:hover {
  background-color: #218838;
}

.form-container button:active {
  background-color: #1e7e34;
}

.error {
  color: red;
  font-size: 12px;
  margin-top: -10px;
  margin-bottom: 10px;
}
